<!-- header in the product list page -->
<div class="container">
    <canvas id="360viewer" class="justify-content-center" width="500" height="350"></canvas>
</div>
<!-- filtering the products -->
<select class="form-control form-select form-select-lg mb-3"
        ng-options="category as category.categoryName for category in categories"
        ng-model="selectedCategory" ng-change="GetProducts()">
    <option class="option-category" value="">Filter by category</option>
</select>
<table class="table table-bordered shadow">
    <tbody>
        <!-- header for products table-->
        <tr class="table-header text-center">
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date Added</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <!-- ng repeat is used insead of foreach. this method will go through all the values that the table has and shows it to a user-->
        <tr ng-repeat="product in products">
            <td>
                {{product.productName}}
            </td>
            <td>
                {{product.description}}
            </td>
            <td class="text-center">
                {{product.productCategory.categoryName}}
            </td>
            <td class="text-center">
                <!--The method is used to format the date-->
                <p ng-bind="product.publishedDate | date:'yyyy.MM.dd'"></p>
            </td>
            <td class="text-center">
                <p>${{product.price}}</p>
            </td>
            <td class="text-center">
                <a href="#!/editProduct/{{product.id}}"><img src="../images/edit.png" width="20" alt="edit button" /></a>
                <a ng-click="Delete(product)"><img src="../images/delete.png" alt="delete button" width="20" /></a>
            </td>
        </tr>
    </tbody>
</table>
<!-- initialization of a 360 header -->
<script type="text/javascript">init()</script>